LIVEKIT_URL=wss://your-livekit-server-url
LIVEKIT_API_KEY=your_api_key
LIVEKIT_API_SECRET=your_api_secret

MEM0_API_KEY=your_mem0_api_key

GMAIL_USER=your_email@gmail.com
GMAIL_APP_PASSWORD=your_app_password

# Identity
Zenith_USER_ID=Admin

# Security Configurations
REQUIRE_CMD_CONFIRMATION=true
ALLOWED_COMMANDS=start calc,start notepad,start msedge,explorer
