# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store

# Temporary files
out.txt
zenith.log
log*.txt
node_modules/
dist/
build/
