# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
venv_backup/
python-embed/
electron_dashboard/resources/
electron_dashboard/dev-app-update.yml
.stop_zenith
ff.html
# Byte-compiled / optimized / DLL files
__pycache__/
# IDEs and Editors
.vscode/
.idea/
# MacOS
.DS_Store
# Temporary files
out.txt
zenith.log
log*.txt
node_modules/
dist/
build/
web/
*.zip
*.db
zenith_mem_db/

