livekit-agents
livekit-plugins-openai
livekit-plugins-silero
livekit-plugins-google
livekit-plugins-noise-cancellation
mem0ai
duckduckgo-search
langchain_community
requests
python-dotenv
pydantic-ai-slim[openai,mcp]
google-genai>=2.13
openai>=2.50.0,<3.0.0
google-auth>=2.56.0,<3.0.0
pywinauto
PyQt5
PyQtWebEngine
pyautogui
ytmusicapi
yt-dlp
browser-use
playwright